{% extends "base.jade" %}
{% block title %}{% endblock %}
{% if account %}操作已成功{% else %}操作失败{% endif %}
{% block content %}
{% if account %}
p 谢谢 {{ account }}，操作已成功！现在可以
  a(href !='{% url auth_login %})
    b 登录
    |使用你注册时使用的用户名和密码。
{% else %}
&ndash; 激活没有成功，请检查一下链接地址。
{% endif %}
{% endblock %}