亲爱的 {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

欢迎使用罐头工场用户找回密码功能:

请点击以下链接重置您的密码（链接30分钟内有效）

：{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

如果您没有申请找回密码，请忽略此邮件。

{{ site_name }} 用户中心