{% extends "base.jade" %}
{% block title %}密码重置完成{% endblock %}
{% block headright %}
a(href !="{%url registration_register%}")加入我们？注册
{% endblock %}
{% block content %}
div.container(style="padding-top:100px;")
    p 你的密码已经重置 ！现在可以
        a(href !="{{ login_url }}")登录
{% endblock %}