{% extends "base.html" %}
{% block title %}重置密码{% endblock %}
{% block headright %}<a id="font_color_white" href ="{%url registration_register%}">加入我们？注册</a>{% endblock %}
{% block content %}
<div id="wrap">
	<div id="password_reset_content">
		<form method="post" action="">
			{% csrf_token %}
			<fieldset class="success">
				<div style="margin-left:35px;margin-top:35px"><font size="4px">请输入您用于登录的邮箱，系统将发送密码重置信息至您的邮箱</font>
					<div style="padding-top:30px;padding-bottom:5px">
						<div class="controls">{{ form.email }}
							<div id="id_emailTip" class="onShow">请输入邮箱</div>
							{% if form.email.errors %}
							<p id="err_msg" class="errmsg">{{ form.email.errors|join:", " }}</p>
							{% else %}
							<p id="err_msg">&nbsp;</p>
							{% endif %}</div>
					</div>
					<div style="margin-top:-10px">
						<button id="button_color" type="submit" class="btn btn-success">重置密码</button>
						<div style="margin:-30px 0px 0px 100px"><a href ="{% url django.contrib.auth.views.login %}"><font size="3px">>>返回登录界面</font></a></div>
					</div>
					<div style="padding-top:30px"><font color="#aaa" size="3px">如以上方法不能解决，请发送至service@6cans.com</font></div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}