{% extends "base.html" %}
{% block title %}重置密码{% endblock %}
{% block headright %}<a href ="{%url registration_register%}">加入我们？注册</a>{% endblock %}
{% block content %}
<div style="padding-top:100px;" class="container">
	<p>在下面输入你重置后的密码:</p>
	<form method="post" action="">
		{% csrf_token %}
		<fieldset class="control-group success">
			<div class="control-group">
				<label for="inputPassWord" class="control-label">{{form.password1.label_tag}}</label>
				<div class="controls">{{form.password1}}</div>
			</div>
			<div class="control-group">
				<label for="checkoutPassWord" class="control-label">{{form.password2.label_tag}}</label>
				<div class="controls">{{form.password2}}</div>
			</div>
		</fieldset>
		<table>
			{{ form.as_table }}
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Set password"/>
				</td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}