{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/statics/css/login.css"/>
{% endblock %}
{% block content %}
<div class="rightside_content1">
    <div class="content_div_span4">
        <div id="content_div_margin">
            <div class="rightside_ico">
                <a href="#"><img id="sina_auth" src="/statics/img/ico2.gif" alt="6Cans_新浪"/>使用新浪微博账号登陆</a>
                <a href="#"><img id="qq_auth" src="/statics/img/ico5.gif" alt="6Cans_QQ"/>使用腾讯微博账号登陆</a>
                <a href="#"><img id="douban_auth" src="/statics/img/ico3.gif" alt="6Cans_豆瓣"/>使用豆瓣账号登陆</a>
                <a href="#"><img id="renren_auth" src="/statics/img/ico4.gif" alt="6Cans_人人"/>使用人人账号登陆</a>
                
            </div>
        </div>
    </div>
    <div class="content_login_divspan4">
		<form id="margin_left15" action="/accounts/register/" method="POST">
			<fieldset id="margin_left25" class="control-group success">
				<div id="margin_top-5">
					<label class="control-label"><strong>用户名</strong></label>
					<div class="controls">
						<input id="id_username" type="text" class="required" name="username" maxlength="30">
					</div>
				</div>
				<div id="margin_top-10">
					<label class="control-label"><strong>邮箱</strong></label>
					<div class="controls">
						<input id="id_email" type="text" class="required" name="email" maxlength="75">
					</div>
				</div>
				<div id="margin_top-10">
					<label class="control-label"><strong>密码</strong></label>
					<div class="controls">
						<input id="id_password1" type="password" class="required" name="password1">
					</div>
				</div>
				<div id="margin_top-10">
					<label class="control-label"><strong>密码确认</strong></label>
					<div class="controls">
						<input id="id_password2" type="password" class="required" name="password2">
					</div>
				</div>
				<div>
					<div class="controls">
						<input type="checkbox" style="width:20px"/>同意《罐头工场》协议
						<p class="p2"> 验证邮箱，有20%几率获得罐头工场折扣券</p>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="rightside_content2">
	<div></div>
    <button id="button_color" type="submit" class="btn btn-success"><strong>&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;册&nbsp;&nbsp;</strong></button>
</div>
{% endblock %}