{% extends "base.jade" %}
{% block title %}我的购物车{% endblock %}
{% block content %}
<div id="cart_div" style="margin:0 auto">
	<div id="cart_tit">
		<div class="cart_tit_left">
			<h3>我的购物车</h3>
		</div>
		<div class="cart_tit_right">
			<ul class="num5">
				<li class="current"><span class="first">1. 查看购物车</span></li>
				<li><span>2. 填写订单信息</span></li>
				<li><span>3. 确认订单信息</span></li>
				<li class="last"><span>4. 订单提交完成</span></li>
			</ul>
		</div>
	</div>
	<div id="cart_con">
		<div id="contentdiv" class="contentdiv">
			<div class="cart_con_tit">总计(含运费):<i class="ibg2"></i><b>0.00</b><a href="order_write.html" class="cart_settlement general_bgbtn">
				<h2>结 算</h2>
				</a></div>
			<ul class="cart_con_nav">
				<li class="cart_w162">
					<div>
						<input name="choose_all" type="checkbox" value="contentdiv" onclick="mycart_all_choose(this,0,0)"/>
						<span>全选</span></div>
				</li>
				<li class="cart_w4">作品名称</li>
				<li class="cart_w5">类别</li>
				<li class="cart_w6">框架</li>
				<li class="cart_w7">单价</li>
				<li class="cart_w8">数量</li>
				<li class="cart_w9">重量(千克)</li>
				<li class="cart_w10">小计</li>
				<li class="cart_w11">&nbsp;</li>
			</ul>
			<div class="cart_content">
				<dl id="cart_work1">
					<dt>
						<input name="single_works" type="checkbox" value="cart_work1" onclick="mycart_all_choose(this,2,4)"/>
						<strong>品牌：</strong><span>西南游采风</span><strong>创作者：</strong><span>遥远</span></dt>
					<dd>
						<table width="934" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="cart_w1"></td>
								<td class="cart_w2">
									<input name="single_work" type="checkbox" value="cart_work1" onclick="mycart_all_choose(this,2,0)"/>
								</td>
								<td class="cart_w3"><img src="/statics/IMG/cp1.jpg" width="107" height="85"/></td>
								<td class="cart_w4"><strong><a>阿斯大阿阿斯大斯</a></strong></td>
								<td class="cart_w5">摄影</td>
								<td class="cart_w6">黑色</td>
								<td class="cart_w7"><b id="mycart_single">60000.00</b></td>
								<td class="cart_w8">
									<div><a name="cart_input_text1" onclick="mycart_pay(this,1)" class="ddnumbera1"></a>
										<input id="cart_input_text1" name="" type="text" value="1" maxlength="5" class="ddinputw60h22 ddinputw60h21"/>
										<a name="cart_input_text1" onclick="mycart_pay(this,1)" class="ddnumbera2"></a></div>
								</td>
								<td class="cart_w9">5</td>
								<td class="cart_w10"><b id="mycart_singles">60000.00</b></td>
								<td class="cart_w11">
									<div><a class="general_bgbtnstyle1">收藏</a><a class="general_bgbtnstyle1">删除</a></div>
								</td>
							</tr>
						</table>
					</dd>
					<dd>
						<table width="934" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="cart_w1"></td>
								<td class="cart_w2">
									<input name="single_work" type="checkbox" value="cart_work1" onclick="mycart_all_choose(this,4,0)"/>
								</td>
								<td class="cart_w3"><img src="/statics/IMG/cp1.jpg" width="107" height="85"/></td>
								<td class="cart_w4"><strong><a>阿斯大阿阿斯大斯</a></strong></td>
								<td class="cart_w5">摄影</td>
								<td class="cart_w6">黑色</td>
								<td class="cart_w7"><b id="mycart_single">60000.00</b></td>
								<td class="cart_w8">
									<div><a name="cart_input_text2" onclick="mycart_pay(this,3)" class="ddnumbera1"></a>
										<input id="cart_input_text2" type="text" value="1" maxlength="5" class="ddinputw60h22 ddinputw60h21"/>
										<a name="cart_input_text2" onclick="mycart_pay(this,3)" class="ddnumbera2"></a></div>
								</td>
								<td class="cart_w9">5</td>
								<td class="cart_w10"><b id="mycart_singles">60000.00</b></td>
								<td class="cart_w11">
									<div><a class="general_bgbtnstyle1">收藏</a><a class="general_bgbtnstyle1">删除</a></div>
								</td>
							</tr>
						</table>
					</dd>
					<hr class="bottom_line2"/>
				</dl>
				<dl id="cart_work2">
					<dt>
						<input name="single_works" type="checkbox" value="cart_work2" onclick="mycart_all_choose(this,6,6)"/>
						<strong>品牌：</strong><span>东南游采风</span><strong>创作者：</strong><span>遥远</span></dt>
					<dd>
						<table width="934" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="cart_w1"></td>
								<td class="cart_w2">
									<input name="single_work" type="checkbox" value="cart_work2" onclick="mycart_all_choose(this,6,0)"/>
								</td>
								<td class="cart_w3"><img src="/statics/IMG/cp1.jpg" width="107" height="85"/></td>
								<td class="cart_w4"><strong><a>阿斯大阿阿斯大斯</a></strong></td>
								<td class="cart_w5">摄影</td>
								<td class="cart_w6">黑色</td>
								<td class="cart_w7"><b>60000.00</b></td>
								<td class="cart_w8">
									<div><a name="cart_input_text3" onclick="mycart_pay(this,5)" class="ddnumbera1"></a>
										<input id="cart_input_text3" name="" type="text" value="1" maxlength="5" class="ddinputw60h22 ddinputw60h21"/>
										<a name="cart_input_text3" onclick="mycart_pay(this,5)" class="ddnumbera2"></a></div>
								</td>
								<td class="cart_w9">5</td>
								<td class="cart_w10"><b>60000.00</b></td>
								<td class="cart_w11">
									<div><a class="general_bgbtnstyle1">收藏</a><a class="general_bgbtnstyle1">删除</a></div>
								</td>
							</tr>
						</table>
					</dd>
					<hr class="bottom_line2"/>
				</dl>
			</div>
			<ul class="cart_con_nav">
				<li class="cart_w162">
					<div>
						<input name="choose_all" type="checkbox" value="contentdiv" onclick="mycart_all_choose(this,0,0)"/>
						<span>全选</span><a class="general_textbtn">批量删除</a></div>
				</li>
				<li class="cart_w772">
					<div>总计(含运费):<i class="ibg2"></i><b>0.00</b></div>
				</li>
			</ul>
			<div class="cart_con_tit"><a href="order_write.html" class="general_bgbtn">
				<h3>结&nbsp;&nbsp;&nbsp;&nbsp;算</h3>
				</a></div>
		</div>
	</div>
</div>
{% endblock %}