{% extends "base.jade" %}
{% block title %}填写订单{% endblock %}
{% block content %}
div.sbt-ift#order_write(style="margin:0 auto")
    div.sbt-ift1
        h3 填写订单信息
    div.sbt-ift2
        div.sbt-ift21
            h4 填写收货地址:
        div.sbt-ift22
            ul#order_write_address
            a.set-address
    div.sbt-ift2
        div.sbt-ift21
            h4 支付和配送方式:
        div.sbt-ift22
            b.b1 支付方法
            ul
                li
                    input.radio(type="radio" ,checked="checked",name="order_write_offer")
                    label.label1 在线支付
                    em.em1 通过第三方支付平台转账，转账后1-3个工作日内到账
                    a.a1 查看银行及限额
                li
                    input.radio(type="radio" ,checked="checked",name="order_write_offer")
                    label.label1 公司转账
                    em.em1 通过第三方支付平台转账，转账后1-3个工作日内到账
                    a.a1 查看账户信息
                li
                    input.radio(type="radio" ,checked="checked",name="order_write_offer")
                    label.label1 银行汇款
                    em.em1 通过第三方支付平台转账，转账后1-3个工作日内到账
                    a.a1 查看帮助
            b.b1 配送方式
            ul
                li.dt_ddlogistics
                    input.radio(type="radio" ,checked="checked",name="order_write_address")
                    label.label1.label2 顺丰快递
                    span
                        div.tb-postAgeCont 至   北京
                    span
                        快递费用：
                        b 3
                        em 元(人民币)/千克
    div.sbt-ift2
        div.sbt-ift21
            h4 订单信息
        div.sbt-ift23
            ul.ul1
                li.li1
                li.li2 作品名称
                li.li3 类别
                li.li4 框架
                li.li5 数量
                li.li6 单价
                li.li7 小计
            ul.ul2#order_write_work
        div.order-go
            p.p1
                总计（含运费）:
                strong ￥1250.00
            p
                a.a3
                input.dpl-button(type="submit", value="")
{% endblock %}