{% extends "base.jade" %}
{% block title %}物品详情页{% endblock %}
{% block content %}
div#detail_content_div(style="margin:0 auto")
    div#detail_content_left
        div#detail_content_left_top
            ul.ulmarginw25
                li.h30#h30
                li.h24#h24
            hr.bottom_line
            ul.ulmarginw25
                li.h410#h410
                li.hauto1
                    p 所有复制品均有6cans统一扫描、制定、装订。所有纸张均为康颂纸，画框均为____材质，6cans为您保证质量。
        div#detail_content_left_bottom
            div.dclb
                span
                    系列《
                    strong#other_product_name
                    》中的其它作品
                div.detail_left_content_w510
                    a.detail_slide_right(target="_self")
                    a.detail_slide_left(target="_self")
                    div.detail_left_content_w470
                        a
                            img(src="/statics/IMG/xq_cps1.jpg", width="110", height="83")
                        a
                            img(src="/statics/IMG/xq_cps1.jpg", width="110", height="83")
                        a
                            img(src="/statics/IMG/xq_cps1.jpg", width="110", height="83")
                        a
                            img(src="/statics/IMG/xq_cps1.jpg", width="110", height="83")
    div#detail_content_right
        div#detail_content_right_top
            ul.ulmarginw25
                li.h30
                    h3 数码微喷
                li.h24
                    span 数码摄影、数码插画为复制品
            hr.bottom_line
            dl.ulmarginw25
                dt.lifontsize 请选择尺寸：
                dd.lifontsize_dd
                    input.product_size_pay(name="choose_size",type="radio",value="")
                    em 20  X  30CM
                    strong
                        i.ibg1
                        em 100 .00
                dd.lifontsize_dd
                    input.product_size_pay(name="choose_size",type="radio",value="")
                    em 20  X  30CM
                    strong
                        i.ibg1
                        em 100 .00
                dd.lifontsize_dd
                    input.product_size_pay(name="choose_size",type="radio",value="")
                    em 20  X  30CM
                    strong
                        i.ibg1
                        em 100 .00
                dd.lifontsize_dd
                    input.product_size_pay(name="choose_size",type="radio",value="")
                    em 20  X  30CM
                    strong
                        i.ibg1
                        em 100 .00
                dd.lifontsize_dd
                    input.product_size_pay(name="choose_size",type="radio",value="")
                    em 20  X  30CM
                    strong
                        i.ibg1
                        em 100 .00
            hr.bottom_line
            dl.ulmarginw25
                dt.lifontsize 请选择画框
                dd.ddh112
                    li.liw20
                        input.product_side_pay(type="radio", name="subProduct")
                    li
                        img(src="/statics/IMG/GT_detail_none20120913.jpg", alt="", width="83", height="82")
                        p +0RMB
                    li.liw20
                        input.product_side_pay(type="radio",name="subProduct")
                    li
                        img(src="/statics/IMG/GT_detail_black20120913.jpg", alt="", width="83", height="82")
                        p +100RMB
                    li.liw20
                        input.product_side_pay(type="radio",name="subProduct")
                    li
                        img(src="/statics/IMG/GT_detail_white20120913.jpg", alt="", width="83", height="82")
                        p +100RMB
            hr.bottom_line
            dl.ulmarginw25
                dt.ifontsize 请填写购买的数量:
                dd.ddnumber
                    a.ddnumbera1
                    input.ddinputw60h21( name="",id="product_num" type="text", value="1", maxlength="5")
                    a.ddnumbera2
                    span 件,(仅 5 件)
            hr.bottom_line
            dl.ulmarginw25
                dt.lifontsize 物流快递:(顺丰快递)
                dd.dt_ddlogistics
                    span
                        div.tb-postAgeCont 至   北京
                    span
                        快递费用：
                        b 3
                        em 元(人民币)/千克
        div#detail_content_right_bottom
            div.de_right_btleft
                p
                    重量：
                    b 5
                    em kg
                p
                    总价：
                    b#product_offer 1233 .00
                    em RMB
            div.de_right_btright
                a.btright_btn 加入购物车
div#d_service
    ul
        li.d_serviceli1
            div.d_serviceDIV1
                div.d_servicediv01
                h3 精挑细选
                p 来自优秀创作者的杰出作品，每件作品都独一无二。
        li.d_serviceli1
            div.d_serviceDIV1
                div.d_servicediv02
                h3 品质保证
                p 对于您挑选的作品，罐头工场采用行业顶级的微喷制作技术，并用环保材料进行多重包装。
        li.d_serviceli1
            div.d_serviceDIV1
                div.d_servicediv03
                h3 安全支付
                p 罐头工场开通了多种支付功能，保证您的支付安全、快捷。
        li
            div.d_serviceDIV1
                div.d_servicediv04
                h3 安全送达
                p 罐头工场选择最优秀的快递服务商，以确保您的包裹完好无缺。
{% endblock %}