<!DOCTYPE html public "-//w3c//dtd html 4.01 transitional//en" "http://www.w3.org/tr/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" name="viewport" content="width=device-width,initial-scale=1.0"/>
		<meta http-equiv="Content-Type"/>
		<title>选择个人品牌背景</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/statics/css/GT_css.css"/>
		<link rel="stylesheet" type="text/css" href="/statics/css/GT_min.css"/>
		<link rel="stylesheet" type="text/css" href="/statics/css/6Cans.css"/>
		<script type="text/javascript" src="/statics/js/jquery-1.8.2.min.js" charset="UTF-8"></script>
		<script type="text/javascript" charset="utf-8" src="/statics/js/choose_personal_bg.js"></script>
		<style>
			.personal_img_content {
				height:84px;
				position:relative;
				float:left;
				background:#eaa333;
				overflow:hidden;
				left:0px;
			}
			.personalimg {
				height:84px;
				width:146px;
				position:relative;
				float:left;
				background:#aaa;
				margin-right:10px
			}
			.personal_left {
				background:url(/statics/img/feature_left.gif) no-repeat;
				width:40px;
				height:50px;
				display:block;
				position:absolute;
				top:20%;
				background-position:6px 3px;
				top:20px;
				z-index:10;
				left:0px
			}
			.personal_right {
				background:url(/statics/img/feature_right.gif) no-repeat;
				width:40px;
				height:50px;
				display:block;
				position:absolute;
				top:20%;
				background-position:6px 3px;
				right:115px;
				top:20px;
				z-index:10
			}
			.personal_right:hover, .personal_left:hover {
				background-position:6px -46px;
			}
			#Personal_brand_background {
				float:left;
				min-width:984px;
				background:#aaa;
				overflow:hidden;
				margin-left:50px;
				left:0px;
			}
			.dragme {
				position:relative;
			}
			#personal_left:active {
				cursor:move;
			}
		</style>
	</head>
	<body id="moveid" style="background-size:cover;" class="dragme">
		<div id="choose_personalbg" style="position:absolute;overflow:hidden;min-width:1084px;z-index:10;background:#FFF;width:100%;top:-84px;">
			<div id="Personal_brand_background">
				<div id="personal_img_content" class="personal_img_content">
					<div class="personalimg"><a><img src="/statics/img/0110.gif" style="height:84px;width:146px;" onClick="choose_img(this)"/></a></div>
					<div class="personalimg"><a><img src="/statics/img/0110.gif" style="height:84px;width:146px;" onClick="choose_img(this)"/></a></div>
					<div class="personalimg"><a><img src="/statics/img/0110.jpg" style="height:84px;width:146px;" onClick="choose_img(this)"/></a></div>
					<div class="personalimg"><a><img src="/statics/img/0110.gif" style="height:84px;width:146px;" onClick="choose_img(this)"/></a></div>
				</div>
				<a onClick="personal_rightorleft(this)" class="personal_right"></a>
				<a onClick="personal_rightorleft(this)" class="personal_left"></a>
			</div>
			<div id="personal_button" style="height:84px;width:84px;position:absolute;float:left;background:#444333;right:0px;" onClick="choose_perbg(this)">
				<button style="background:#Aaa;width:40px;height:50px;">提交</button>
			</div>
		</div>
		<div id="personal_content_div" style="width:300px;height:60px;background:#AAA;position:relative;margin:auto;top:40%;text-align:center;line-height:60px;font-size:25px;z-index:20;">
			<a id="personal_choose_a" style="width:300px;height:60px;display:block" onClick="choose_perbg(this)">选择个人品牌封面</a>
		</div>
		<div id="personal_wrap" style="position:absolute;top:0px;min-width:984px;min-height:530px;width:100%;opacity:1">
			<div id="personal_left" style="overflow:hidden;position:absolute;width:410px;height:420px;left:0;top:17%;cursor:move;">
				<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:45px;border:1px solid #ccc;background:#f2f2f2;">
					<h2 style="margin:0px 30px">{{ personal.brand_name }}</h2>
				</div>
				<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:95px;margin-top:3px;border:1px solid #ccc">
					<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:340px;height:55px;margin-top:20px;margin-left:30px;border:1px solid #ccc;background:#f2f2f2;">
						{{ personal.brand_introduction }}
					</div>
				</div>
				<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:140px;margin-top:15px;border:1px solid #ccc">
					<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:200px;height:120px;margin-top:15px;margin-left: 30px;border:1px solid #ccc;float:left;background:#f2f2f2;">
						<div style="font-size:14px;">
							{{ personal.author }}
							<span style="font-size:10px">关注：({{ personal.favorite_count }})  粉丝：({{ personal.follower_count }})</span>
						</div>
						<div style="font-size:12px;">中国：{{ personal.province }}</div>
						<div style="font-size:12px;">专注于：摄影、摄影、摄影</div>
						<div style="width:55px;height:20px;border:1px solid #424242;line-height:20px;text-align:center;margin-top:30px;float:right">关注</div>
					</div>
					<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:120px;height:120px;margin-top:10px;margin-left:30px;border:1px solid #ccc;float:left;background:#f2f2f2;">
						<img src="{{ personal.coverkey }}"/>
					</div>
				</div>
				<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:110px;margin-top:3px;border:1px solid #ccc">
					<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:340px;height:95px;background:#f2f2f2;margin-top:10px;margin-left: 30px;border:1px solid #ccc;float:left">{{ personal.introduction }}</div>
				</div>
			</div>
			<div id="personal_right_center" style="overflow:hidden;position:absolute;width:210px;min-height:420px;right:0;bottom:7%;cursor:move;">
				<div id="personal_right_center" style="overflow:hidden;position:relative;width:200px;height:200px;background:#444242;float:right">
					<div id="personal_right_center" style="overflow:hidden;position:relative;width:140px;height:100px;background:#f2f2f2;margin-top:30px;margin-left: 50px;">
						<a href="/content/index/{{personal.cans_id}}">
							<img src="{{ personal.coverkey }}"/>
						</a>
					</div>
					<div style="overflow:hidden;position:relative;background:#f2f2f2;margin-top:5px;margin-left: 90px;width:80px;">
						<h4>作品集</h4>
					</div>
				</div>
				<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:130px;height:30px;background:#f2f2f2;float:right;margin-top:15px;border:1px solid #ccc">
					<h4>发布作品</h4>
				</div>
				<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:130px;height:30px;background:#f2f2f2;float:right;margin-top:48%;border:1px solid #ccc">
					<h4>他的关注</h4>
				</div>
				<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:130px;height:30px;background:#f2f2f2;float:right;margin-top:3px;border:1px solid #ccc">
					<h4>他的收藏</h4>
				</div>
			</div>
		</div>
		<script>//不明原因，此处暂且留在界面中，移到js文件中会出错
			var wid=document.body.clientWidth;
			var hei=document.body.clientHeight;
			var right_divlimit=wid-$("#personal_right_center").width()-2;//左边的div区域移动的左右距离，即0~~right_divlimit
			var top_divlimit=hei-$("#personal_right_center").height()-2;//左边的div区域移动的上下距离，即0~~top_divlimit
			var top_percent=0;
			var left_percent=0;
			function choosepersonalhomebg_init(){
			    wid=document.body.clientWidth;
			    hei=document.body.clientHeight;
			    right_divlimit=wid-$("#personal_right_center").width()-2;//左边的div区域移动的左右距离，即0~~right_divlimit
			    top_divlimit=hei-$("#personal_right_center").height()-2;//左边的div区域移动的上下距离，即0~~top_divlimit
			}
			/*
			鼠标拖动层(可任意绑定DIV标签)（一）

			调用方法:var myDrag=new Endrag(source,target,offSetX, offSetY);
			参数说明:source--鼠标动作绑定对象;target--操作目标对象(要移动的对象);offSetX--横坐标偏移;offSetY--纵坐标偏移
			说明:通过多次调用本方法绑定多个对象的拖动
			*/
			funs={
			    index:100,  
			    getFocus:function (target){  
			        if(target.style.zIndex!=this.index){  
			            this.index += 2;  
			            var idx = this.index;  
			            target.style.zIndex=idx;  
			        }  
			    },
			    abs:function (element) {
			        var result = { x: element.offsetLeft, y: element.offsetTop};
			        element = element.offsetParent;
			        while (element) {
			            result.x += element.offsetLeft;
			            result.y += element.offsetTop;
			            element = element.offsetParent;
			        }
			        return result;
			    }
			};
			function mouse_stop(){
			    document.onmousedown=selectmouse;
			}
			function Endrag(source,target,offSetX, offSetY){
			    //禁用背景的拖动
			    document.onmousedown=forbidden_selectmouse;
			    source=typeof(source)=="object" ? source:document.getElementById(source);
			    target=typeof(target)=="object" ? target:document.getElementById(target);
			    var x0=0,y0=0,x1=0,y1=0,moveable=false,index=100,NS=(navigator.appName=='Netscape');
			    offSetX=typeof offSetX== "undefined" ? 0:offSetX;
			    offSetY=typeof offSetY== "undefined" ? 0:offSetY;
			    source.onmousedown=function(e){
			        e = e ? e : (window.event ? window.event : null);
			        funs.getFocus(target); 
			        if(e.button==(NS)?0 :1)  { 
			            if(!NS){this.setCapture()}
			            x0 = e.clientX ;  
			            y0 = e.clientY ;  
			            x1 = parseInt(funs.abs(target).x);  
			            y1 = parseInt(funs.abs(target).y);    
			            moveable = true;
			        }  
			    };  
			    //拖动;  
			    source.onmousemove=function(e){
			        e = e ? e : (window.event ? window.event : null); 
			        if(moveable){
			            var leftnum=x1 + e.clientX - x0 - offSetX;
			            var topnum=y1 + e.clientY - y0 - offSetY;
			            if(leftnum>=0 && leftnum<=right_divlimit){
			                left_percent=(x1 + e.clientX - x0 - offSetX)/wid;//获取左右位置的百分比
			                left_percent=left_percent*100;
			                target.style.left = left_percent+ "%";
			                console.log("left_percent:"+left_percent+ "%");
			                
			            }
			            if(topnum>=0 && topnum<=top_divlimit){
			                top_percent=(y1 + e.clientY - y0 - offSetY)/hei;//获取上下位置的百分比
			                top_percent=top_percent*100;
			                target.style.top  =top_percent+ "%";
			                console.log("top_percent:"+top_percent+ "%");
			            }
			        }  
			    }; 
			    //停止拖动;  
			    source.onmouseup=function (e){ 
			        if(moveable)  {  
			            if(!NS){this.releaseCapture();}
			            moveable = false;  
			        }
			    };
			}
		</script>
	</body>
</html>