{% extends "base.jade" %}
{% block title %}我的关注{% endblock %}
{% block content %}
div#wrap#author(style="overflow:hidden;position:relative;min-width:984px;min-height:450px;width:100%;")
    div#attention_listing_content(style="height:100%;width:100%;")
        div(style="width:160px;height:100%;border-right:1px solid #444242;background:#aaa;float:left")
            div(style="width:160px;padding-top:45px;")
                ul.nav.nav-pills
                    li
                        a( style="border:1px solid #000;width:135px;height:25px;line-height:25px;color:#fff;font-size:15px;text-align:center;background:#f2f2f2")我的关注
                    li#author_friend_show
                        a(style="border:1px solid #000;width:135px;height:15px;line-height:15px;color:#fff;font-size:15px;text-align:center;")创作者
                        a(style="border:1px solid #000;width:135px;height:15px;line-height:15px;color:#fff;font-size:15px;text-align:center;")用户
                    li
                        a#author_follow( href="/content/content_following/" ,style="border:1px solid #000;width:135px;height:25px;line-height:25px;color:#fff;font-size:15px;text-align:center")我的粉丝
                    li
                        a( style="border:1px solid #000;width:135px;height:25px;line-height:25px;color:#fff;font-size:15px;text-align:center")邀请站外好友
        div#author_content_right
            div#relationList_f.carousel.slide
                div#relationList_form.carousel-inner
                a.carousel-control.left#author_left(href="#relationList_f",data-slide="prev")&lsaquo;
                a.carousel-control.right#author_right(href="#relationList_f",data-slide="next")&rsaquo;
{% endblock %}