{% extends "base.html" %}
{% block title %}我的关注{% endblock %}
{% block content %}
<div id="author" style="overflow:hidden;position:relative;min-width:984px;min-height:450px;width:100%;">
	<div id="attention_listing_content" style="height:100%;width:100%;">
		<div style="width:160px;height:100%;border-right:1px solid #444242;background:#aaa;float:left">
			<div style="width:160px;padding-top:45px;">
				<ul class="nav nav-pills">
					<li><a style="border:1px solid #000;width:135px;height:25px;line-height:25px;color:#fff;font-size:15px;text-align:center;background:#f2f2f2">我的关注</a></li>
					<li id="author_friend_show"><a style="border:1px solid #000;width:135px;height:15px;line-height:15px;color:#fff;font-size:15px;text-align:center;">创作者</a><a style="border:1px solid #000;width:135px;height:15px;line-height:15px;color:#fff;font-size:15px;text-align:center;">用户</a></li>
					<li><a id="author_follow" href="/content/content_following/" style="border:1px solid #000;width:135px;height:25px;line-height:25px;color:#fff;font-size:15px;text-align:center">我的粉丝</a></li>
					<li><a style="border:1px solid #000;width:135px;height:25px;line-height:25px;color:#fff;font-size:15px;text-align:center">邀请站外好友</a></li>
				</ul>
			</div>
		</div>
		<div id="author_content_right">
			<div id="relationList_f" class="carousel slide">
				<div id="relationList_form" class="carousel-inner"></div>
				<a id="author_left" href="#relationList_f" data-slide="prev" class="carousel-control left">&lsaquo;</a><a id="author_right" href="#relationList_f" data-slide="next" class="carousel-control right">&rsaquo;</a></div>
		</div>
	</div>
</div>
{% endblock %}