{% extends "base.jade" %}
{% block title %}主页{% endblock %}
{% block content %}
div#contents_list(style="overflow:hidden;position:relative;min-width:1210px;min-height:450px;width:100%;")
    div#contents_list_left(style="position:relative;width:740px;min-height:450px;float:left")
        div#contents_list_work(style="position:relative;width:690px;float:left;z-index:10;background:#FFF")
        div#contents_list_a(style="position:relative;width:50px;min-height:200px;float:left;z-index:10;background:#FFF")
            a#work_up
                img(src="/statics/img/contents_list_up.GIF",style="position:absolute;top:40px")
            a#work_down
                img(src="/statics/img/contents_list_down.GIF",style="position:absolute;bottom:40px")
    div#contents_list_button(style="position:relative;width:20px;min-height:450px;float:left;z-index:100;background:#FFF;border-right-color:#aaa;border-right-style:solid;border-right-width:1px; ")
        a#list_button_shrink
            img(src="/statics/img/contents_list_extend.GIF",style="position:absolute;top:140px")
        a#list_button_extend(style="display:none")
            img(src="/statics/img/contents_list_extend2.GIF",style="position:absolute;top:140px")
    div#contents_list_right(style="position:relative;min-height:450px;float:left;")
    a.carousel-control.left#contents_control_left(href="#relationList_f",data-slide="prev",style="margin:auto;display:none")&lsaquo;
    a.carousel-control.right#contents_control_right(href="#relationList_f",data-slide="next",style="margin:auto;display:none")&rsaquo;
{% endblock %}