{% extends "base.jade" %}
{% block title %}主页{% endblock %}
{% block content %}
div#contents_list(style="overflow:hidden;position:relative;min-width:1210px;min-height:450px;width:100%;")
    div#contents_list_left(style="position:relative;width:740px;min-height:450px;float:left;background-color:white")
        div#contents_listborder_left(style="position:relative;width:24px;float:left;z-index:10;background-color:#FFF;border-right:1px solid #aaa;min-height:450px")
        div#contents_list_work(style="position:relative;width:665px;float:left;z-index:10;background-color:#FFF")
            {% for years, month_works in works.items %}
            {% for month, albums in month_works.items %}
            div.contents_list_divleft
                h3 {{ years }}年{{ month }}月
            div#contents_list_date.contents_list_date.contentslist_workdate
                {% for album in albums %}
                div#contents_work
                    div(style="overfloat:hidden")
                        a
                            img.img_delay_load(data-url="/statics/img/content_list.GIF", src!={{album.frontcover}},id!={{album.albumid}},style="background:url(http://www.zhangxinxu.com/study/image/loading.gif) no-repeat center;",onclick="contents_getimgid(this)")
                            div
                                b {{ album.title }} 

                {% endfor %}
            {% endfor %}
            {% endfor %}
        div#contents_list_a(style="position:relative;width:50px;min-height:450px;float:left;z-index:10;background:#FFF")
            a#work_up
                img(src="/statics/img/contents_list_up.GIF",style="position:absolute;top:40px")
            a#work_down
                img(src="/statics/img/contents_list_down.GIF",style="position:absolute;bottom:40px")
    div#contents_list_button(style="position:relative;width:20px;min-height:450px;float:left;z-index:100;background:#FFF;border-right-color:#aaa;border-right-style:solid;border-right-width:1px; ")
        a#list_button_shrink
            img(src="/statics/img/contents_list_extend.GIF",style="position:absolute;top:140px")
        a#list_button_extend(style="display:none")
            img(src="/statics/img/contents_list_extend2.GIF",style="position:absolute;top:140px")
    div#contents_list_right(style="position:relative;min-height:450px;float:left;")
    a.carousel-control.left#contents_control_left(href="#relationList_f",data-slide="prev",style="margin:auto;display:none")&lsaquo;
    a.carousel-control.right#contents_control_right(href="#relationList_f",data-slide="next",style="margin:auto;display:none")&rsaquo;
{% endblock %}