{% extends "base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<div id="contents_list" style="overflow:hidden;position:relative;min-width:1210px;min-height:450px;width:100%;">
	<div id="contents_list_left" style="position:relative;width:740px;min-height:450px;background:#000;float:left">
		<div id="contents_list_work" style="position:relative;width:690px;background:#fff;float:left">
			<div id="contents_list_date" style="position:relative;width:690px;min-height:200px;background:#f00;overflow:hidden">
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#fff;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#ff1;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#f1f;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#fff;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#ff1;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#f1f;float:left"></div>
			</div>
			<div id="contents_list_date" style="position:relative;width:690px;background:#f00;overflow:hidden">
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#fff;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#ff1;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#f1f;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#fff;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#ff1;float:left"></div>
				<div id="contents_work" style="position:relative;width:130px;height:130px;background:#ff1;float:left"></div>
			</div>
		</div>
		<div id="contents_list_a" style="position:relative;width:50px;min-height:200px;background:#00f;float:left">
			<button id="work_up" class="btn">向上</button>
			<button id="work_down" class="btn">向下</button>
		</div>
	</div>
	<div id="contents_list_button" style="position:relative;width:20px;min-height:450px;background:#0f0;float:left">
		<button id="list_button_shrink" class="btn"><</button>
		<button id="list_button_extend" style="display:none" class="btn">></button>
	</div>
	<div id="contents_list_right" style="position:relative;min-height:450px;background:#fff;float:left;overflow:hidden">
		<div id="contents_list_center" style="position:relative;width:450px;min-height:450px;background:#fff;float:left">
			<div style="position:relative;width:450px;height:140px;background:#faa;"></div>
		</div>
		<div id="contents_list_img" style="position:relative;min-height:450px;background:#000;float:left"></div>
		<a id="contents_control_left" href="#relationList_f" data-slide="prev" style="margin:auto;display:none" class="carousel-control left">&lsaquo;</a><a id="contents_control_right" href="#relationList_f" data-slide="next" style="margin:auto;display:none" class="carousel-control right">&rsaquo;</a></div>
</div>
{% endblock %}