{% extends "base.html" %}
{% block title %}个人主页{% endblock %}
{% block link %}
<script type="text/javascript" src="/statics/js/personal_homepage.js" charset="UTF-8"></script>
<style>
.personal-content{overflow:hidden;position:relative;min-width:984px;min-height:530px;width:100%;background:url(/statics/img/personal_content_bg.jpg);background-size:cover;top:45px}
.personal-left{position:relative;width:410px;height:420px;float:left;margin-top:10%;margin-bottom:11%}
.personal-left-a{overflow:hidden;position:relative;width:130px;height:30px;background:#f2f2f2;float:right;margin-top:3px;border:1px solid #ccc;margin-right: 8px;}
</style>
{% endblock %}
{% block content %}
<div id="personal_wrap" class="personal-content">
	<div id="personal_left" class="personal-left">
		<a id="personal_right_bottom" class="personal-left-a" href="/content/choose_bg/">
			<h4>他的收藏</h4>
		</a>
		<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:45px;border:1px solid #ccc;background:#f2f2f2;">
			<h2 style="margin:0px 30px">{{ personal.brand_name }}</h2>
		</div>
		<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:95px;margin-top:3px;border:1px solid #ccc">
			<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:340px;height:55px;margin-top:20px;margin-left:30px;border:1px solid #ccc;background:#f2f2f2;">{{ personal.brand_introduction }}</div>
		</div>
		<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:140px;margin-top:15px;border:1px solid #ccc">
			<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:200px;height:120px;margin-top:15px;margin-left: 30px;border:1px solid #ccc;float:left;background:#f2f2f2;">
				<div style="font-size:14px;">{{ personal.author }}<span style="font-size:10px">关注：({{ personal.favorite_count }})  粉丝：({{ personal.follower_count }})</span></div>
				<div style="font-size:12px;">中国：{{ personal.province }}</div>
				<div style="font-size:12px;">专注于：摄影、摄影、摄影</div>
				<div style="width:55px;height:20px;border:1px solid #424242;line-height:20px;text-align:center;margin-top:30px;float:right">关注</div>
			</div>
			<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:120px;height:120px;margin-top:10px;margin-left:30px;border:1px solid #ccc;float:left;background:#f2f2f2;"><img src="{{ personal.coverkey }}"/></div>
		</div>
		<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:400px;height:110px;margin-top:3px;border:1px solid #ccc">
			<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:340px;height:95px;background:#f2f2f2;margin-top:10px;margin-left: 30px;border:1px solid #ccc;float:left">{{ personal.introduction }}</div>
		</div>
	</div>
	<div id="personal_right_center" style="overflow:hidden;position:relative;width:210px;min-height:420px;float:right;margin-top:21%;">
		<div id="personal_right_center" style="overflow:hidden;position:relative;width:200px;height:200px;background:#444242;float:right">
			<div id="personal_right_center" style="overflow:hidden;position:relative;width:140px;height:100px;background:#f2f2f2;margin-top:30px;margin-left: 50px;"><a href="/content/index/{{personal.cans_id}}"><img src="{{ personal.coverkey }}"/></a></div>
			<div style="overflow:hidden;position:relative;background:#f2f2f2;margin-top:5px;margin-left: 90px;width:80px;">
				<h4>作品集</h4>
			</div>
		</div>
		<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:130px;height:30px;background:#f2f2f2;float:right;margin-top:15px;border:1px solid #ccc">
			<h4>发布作品</h4>
		</div>
		<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:130px;height:30px;background:#f2f2f2;float:right;margin-top:48%;border:1px solid #ccc">
			<h4>他的关注</h4>
		</div>
		<div id="personal_right_bottom" style="overflow:hidden;position:relative;width:130px;height:30px;background:#f2f2f2;float:right;margin-top:3px;border:1px solid #ccc">
			<h4>他的收藏</h4>
		</div>
	</div>
</div>
{% endblock %}