<!DOCTYPE html public "-//w3c//dtd html 4.01 transitional//en" "http://www.w3.org/tr/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head></head>
	<body>
		<button name="微薄认证" onclick="window.open('sinaauth')">微薄认证</button><br/><br/>
		<button name="微薄认证" onclick="window.open('qqauth')">微薄认证</button><br/><br/>
		<button name="微薄认证" onclick="window.open('renrenauth')">微薄认证</button><br/><br/>
		<button name="微薄认证" onclick="window.open('doubanauth')">微薄认证</button><br/><br/>
	</body>
</html>