@charset "utf-8";
/* CSS Document */

/*全局*/
body{background-color:#dedede;color:#5d5d5d;}

/*标签样式*/
body,ul,dl,li,dt,dl,dd,input,td,table,h1,h2,h3,h4,h5,h6,p{margin:0; padding:0;}
li,ol { list-style:none; }
dd,strong,s{display:block;}
h1,h3,h4,i,strong,em,b{display:inline-block}
em,dd,dt,p,i{font-style: normal;}
img,input,td,table{ border:0;}
a{ text-decoration:none; cursor:pointer;}

/*板式*/
.left { float:left;}
.right{ float:right;}

/*文字*/
h1,h2,h3,.mt_btn,.IFEmailBtn {font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;}
/*proxima-nova,黑体,Tahoma,Helvetica,"Hiragino Sans GB",sans-serif*/
h1{font-size:18px;}
h3{font-size:15px;}
h2{font-size:13px;}
h4{font-size:14px;}
h5{font-size:12px;}
dd,li,em,p{font-size:12px; }
dt{ font-size:14px;}
em,b{font-family:Tahoma,Arial,Helvetica,sans-serif;}

/*分割线*/
.bottom_line{ width:100%; height:1px;border:0px;background-color:#f2f2f2;color:#f2f2f2;margin: 0;}
.bottom_line2{ width:100%; height:5px;border:0px;background-color:#f2f2f2;color:#f2f2f2;}

/*引进图*/
.logo1{background: url(/statics/IMG/gtmin.png) no-repeat;}
.detail_slide_right,.detail_slide_left,.ibg1,.ibg2,.ibg3,.ddnumbera1,.ddnumbera2,.cart_btn,.d_servicediv01,.d_servicediv02,.d_servicediv03,.d_servicediv04{background: url(/statics/IMG/GT_detail.png) no-repeat;}
.tb-postAgeCont,.i_con_li2_a1,.B_i_con_lia3,.listliR_a1{background: url(/statics/IMG/GT_icon_2012913.png) no-repeat;}
.ddinputw60h21,.i_con_li2 input,.i_con_li2 .i_textarea1,.i_con_li2 .i_textarea2,.B_i_con_input1,.B_i_textarea{background:url(/statics/IMG/inputshadowbg.gif) no-repeat;}
.icon-suc{background: url(/statics/IMG/GT_icon_2012915.gif) no-repeat;}
.mt_con li a{background: url(/statics/IMG/GT_banks.png) no-repeat;}
.mycans_dl1 dt i,.B_i_con_lia2,.sbt_newsbtn,.o_apagebtnleft,.o_apagebtnright,.add_btn{ background:url(/statics/img/mycans.png) no-repeat;}


/*图标*/
.ibg1{width:8px; height:10px; background-position:0 -57px;}
.ibg2{width:13px; height:11px; background-position:-15px -57px;}
.ibg3{width:13px; height:11px; background-position:-35px -57px;}

/*botton*/
a.general_textbtn{color:#5d5d5d;}
a.general_textbtn:hover{color:#f60; text-decoration: underline;}
a.delete{ float:right; margin-right:10px; color:#5d5d5d; border-radius: 2px;}
a.delete:hover{ color:#f60; text-decoration:underline; }
a.general{display: inline-block; margin:0 5px; color:#36c;}
a.general:hover{ text-decoration:underline;}



/*header*/
#header{height:58px; background:#424242 url(/statics/IMG/gtheaderbg.JPG);}
#header .headerCon{width:984px; height:56px; margin:0 auto;}
#header .headerCon ul{ height:56px; display:table-cell; vertical-align:middle;}
#header .headerCon li{ float:left;}
#header .headerCon li.logo1{ width:150px; height:50px;}
#header .headerCon ll.nav{}
#header .headerConbyy{ height:2px; overflow:hidden; background:url(/statics/IMG/gtheaderbg2.JPG) repeat-x;}
/*footer*/
















