@charset "utf-8";
/* CSS Document */

/* GT home */
#HomeContent{width:984px;padding-top:0px;padding-bottom:72px; margin:0 auto;}
#HomeBanner{ height:163px; border-radius:5px; background-color:#fff; overflow:hidden;}
#HomeCon{ margin-top:10px;border-radius:5px;background-color:white; overflow:hidden; min-height:600px; -webkit-box-shadow: 0 0 5px 1px #C7C7C7;-moz-box-shadow: 0 0 5px 1px #c7c7c7;box-shadow: 0 0 5px 1px #C7C7C7; padding-bottom:20px;}
#HomeCon .HomeConTit{ height:54px; border-bottom:1px solid #d1d1d1;background:white;background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, white), color-stop(100%, #F3F3F3));}
#HomeCon .HomeConTit ul{overflow:hidden;}
#HomeCon .HomeConTit li{ float:left; border-right:1px solid #d1d1d1;height:54px;}
#HomeCon .HomeConTit li a{ display:block; height:54px; line-height:54px;}
#HomeCon .HomeConTit li a:hover{background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #f5f5f5), color-stop(100%, #e4e4e4));}
#HomeCon .HomeConTit a.HomeConTit_a1{ width:136px;}
#HomeCon .HomeConTit a.HomeConTit_a2{ width:98px;}
#HomeCon .HomeConTit a.HomeConTit_a3{ width:98px;}
#HomeCon .HomeConTit a.HomeConTit_a4{ width:98px;}
#HomeCon .HomeConTit li.HomeConTit_a5{ width:170px;}
#HomeCon .HomeConTit li.HomeConTit_a6{ width:214px;}
#HomeCon .form-searchi{ width:150px;  border:1px solid #cfcfcf; border-radius:13px;background-color: white;font-size: 12px;height: 17px;line-height: normal;padding: 4px 4px 4px 24px;background-position: 0px -431px;margin-top:14px;margin-left:22px;}
#HomeCon .form-searchi:active:{ border:1px solid #3e75ff;}
#HomeCon .HomeConTit2{ height:42px; padding:0 26px 0 26px;}
#HomeCon .HomeConTit2 span{ display:block; height:42px;line-height:50px; float:left;}
#HomeCon .HomeConTit2_span1{ width:24px; background-position:0 -208px;}
#HomeCon .HomeConTit2_span2{ font-family:"黑体"; font-size:14px;}
#HomeCon .HomeConList{ width:948px; padding:0 18px 0 18px; overflow:hidden;}
#HomeCon .HomeConList ul{ width:948px; overflow:hidden;}
#HomeCon .HomeConList li{ float:left; }
#HomeCon .project-cover{border-radius: 3px; position: relative; width: 221px; margin:8px;background: white;-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35); overflow:hidden;}
#HomeCon .HomeConList img{border-radius: 3px 3px 0 0;}
#HomeCon .project-cover-div{ height:72px;border-radius: 0 0 3px 3px;}
#HomeCon .project-cover-div div{ padding:0 15px 0 15px;; height:39px; line-height:39px; border-bottom:1px solid #e4e4e4; overflow:hidden; background-color:white;}
#HomeCon .project-cover-div h4{float:left; width:130px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#HomeCon .project-cover-div em{ float:right; font-size:12px; color:#969696;}
#HomeCon .project-cover-div p{padding-left:15px; display:block; height:31px; line-height:31px; border-top:1px solid white;/* background-color:#dfdfdf;*/background: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#e1e1e1));background:-moz-linear-gradient(top, #e4e4e4, #e1e1e1);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#e1e1e1')"; /* IE8 */}
#HomeCon .project-cover-div span.font1{ font-family: Calibri, Arial, Helvetica, sans-serif; font-size:13px;}
#HomeCon .project-cover-div a.font2{ color:#329c8e; }