{% extends "base.jade" %}
{% block title %}主页{% endblock %}
{% block headright %}
a#font_color_white(href !="{%url registration_register%}")加入我们？注册
{% endblock %}
{% block content %}
div#wrap
    div#homepage_content
        div#HomeBanner
            div#myCarousel.carousel.slide
                div.carousel-inner(style="height:163px")
                    div.active.item
                        a(href="#")
                            img(style="margin:auto",src="/statics/img/homepage_run1.gif",style="height:163px")
                    div.item
                        a(href="#")
                            img(style="margin:auto",src="/statics/img/homepage_run2.gif",style="height:163px")
                    div.item
                        a(href="#")
                            img(style="margin:auto",src="/statics/img/homepage_run3.gif",style="height:163px")
                a.carousel-control(href="#myCarousel",data-slide="prev",style="margin:auto")&lsaquo;
                a.carousel-control.right(href="#myCarousel",data-slide="next",style="margin:auto")&rsaquo;
        div#HomeCon
            div.HomeConTit(style=" display:none")
                ul
                    li
                        a.HomeConTit_a1
                    li
                        a.HomeConTit_a2
                    li
                        a.HomeConTit_a3
                    li
                        a.HomeConTit_a4
                    li.HomeConTit_a5
                    li.HomeConTit_a6
                        input#searchmenui_search.form-searchi( name="search", type="text", onsubmit="return false;", value="" ,placeholder="Search...")

            div.HomeConTit2
                span.HomeConTit2_span1
                span.HomeConTit2_span2 30+新作品
            div#container.transitions-enabled.infinite-scroll.clearfix.masonry.HomeConList
                ul#HomeConList_ul
                nav#page-nav
                    a(href="2.html")
{% endblock %}