{% extends "base.html" %}
{% block title %}主页{% endblock %}
{% block headright %}<a id="font_color_white" href ="{%url registration_register%}">加入我们？注册</a>{% endblock %}
{% block content %}
<div id="wrap">
	<div id="homepage_content">
		<div id="myCarousel" class="carousel">
			<div class="carousel-inner">
				<div class="active item"><a href="#"><img style="margin:auto" src="/statics/img/homepage_run1.gif"/></a></div>
				<div class="item"><a href="#"><img style="margin:auto" src="/statics/img/homepage_run2.gif"/></a></div>
				<div class="item"><a href="#"><img style="margin:auto" src="/statics/img/homepage_run3.gif"/></a></div>
			</div>
			<a href="#myCarousel" data-slide="prev" style="margin:auto" class="carousel-control">&lsaquo;</a><a href="#myCarousel" data-slide="next" style="margin:auto" class="carousel-control right">&rsaquo;</a>
		</div>
		<div id="homepage_refresh"><img src="/statics/img/refresh.gif"/><a href="#">作品已更新，请点击刷新</a></div>
		<form>
			<fieldset id="movieList" class="control-group">
				<div id="container" class="transitions-enabled infinite-scroll clearfix masonry">
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
					<div class="box masonry-brick">
						<p><a href="#" title="homepage"><img src="/statics/img/homepage_product.GIF" alt="homepage_product.GIF"/></a></p>
					</div>
				</div>
				<nav id="page-nav"><a href="2.html"></a></nav>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript">
(function() {
    var $backToTopTxt = "返回顶部", $backToTopEle = $('<div class="backToTop"></div>').appendTo($("body"))
        .text($backToTopTxt).attr("title", $backToTopTxt).click(function() {
            $("html, body").animate({ scrollTop: 0 }, 120);
    }), $backToTopFun = function() {
        var st = $(document).scrollTop(), winh = $(window).height();
        (st > 0)? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $(function() { $backToTopFun(); });
})();
(function() {
    var $backToTopTxt = "加载底部", $backToTopEle = $('<div class="backShow"></div>').appendTo($("body"))
        .text($backToTopTxt).attr("title", $backToTopTxt).hover(function() {
            $("#foot").show();
    }), $backToTopFun = function() {
        var st = $(document).scrollTop(), winh = $(window).height();
        (st > 0)? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $(function() { $backToTopFun(); });
})();
</script>
{% endblock %}