{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block link %}
<link  href="/statics/css/GT_css.css" rel="stylesheet" type="text/css" />
<link  href="/statics/css/GT_min.css" rel="stylesheet" type="text/css" />
<link  href="/statics/css/6cans.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div id="HomeBanner_top"></div>
<div id="HomeContent">
	<div id="HomeBanner">
		<img src="/statics/img/ba1.jpg" width="982" height="161" />
	</div>
	<div id="HomeCon">
		<div class="HomeConTit">
			<ul>
				<li>
					<a class="HomeConTit_a1"></a>
				</li>
				<li>
					<a class="HomeConTit_a2"></a>
				</li>
				<li>
					<a class="HomeConTit_a3"></a>
				</li>
				<li>	
					<a class="HomeConTit_a4"></a>
				</li>
				<li class="HomeConTit_a5">	
				
				</li>
				<li class="HomeConTit_a6">	
					<input name="search" type="text" class="form-searchi"  value="" placeholder="Search...">
				</li>
			</ul>
		</div>
		<div class="HomeConTit2">
			<span class="HomeConTit2_span1"></span>
			<span class="HomeConTit2_span2">30+新作品</span>
		</div>
		
		<div class="HomeConList">
			<ul id="HomeConList_ul">	
				{% for Portfolio in Portfolios%}
				<li><div class="project-cover"><a href='/content/index/39/?img_id={{Portfolio.pid}}'><img src={{ Portfolio.coverkey }}  width="221" height="166"></a><div class="project-cover-div"><div><h4 title="和俩暖色调阿斯达暖色调阿斯暖色调阿斯">{{ Portfolio.title }}</h4><em>#摄影</em></div><p><span class="font1">FROM:</span><a class="font2">{{ Portfolio.profile_id }}</a>的品牌<a href='/content/personal/?id={{Portfolio.profile_id}}' class="font2">净世界</a></p></div></div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div id="index_footer" >
    <div style="width:50px;height:100px;position:absolute;right:-70px;">
        <a id="index_footer_top" href="#HomeBanner_top" style="position:fixed;bottom:115px;">
            <div style="width:50px;height:50px;background:url(/statics/img/gtmin.png) no-repeat;background-position:12px -315px;"></div>
        </a>
        <a id="index_footer_show" style="position:fixed;bottom:65px;" >
            <div style="width:50px;height:50px;background:url(/statics/img/gtmin.png) no-repeat;background-position:-32px -315px;"></div>
        </a>
    </div>
</div>
<script type="text/javascript" src="/statics/js/jquery.timers-1.2.js"></script>
<script type="text/javascript">
var index_addimg='<li><div class="project-cover"><a href="/content/index/39/?img_id=${pid}"><img src=${coverkey} width="221" height="166"></a><div class="project-cover-div"><div>'+
'<h4 title="和俩暖色调阿斯达暖色调阿斯暖色调阿斯">${title}</h4><em>#摄影</em></div><p><span class="font1">FROM:</span><a class="font2">${nickname }</a>的品牌'+
'<a href="/content/personal/?id=${profile_id }" class="font2">净世界</a></p></div></div></li>';
$.template("tmpl_num1",index_addimg);
function index_tmpl(){
		for(var i=0;i<12;i++){
			$.tmpl("tmpl_num1").appendTo( "#HomeConList_ul" );
		}
}
function indexfooter_show(){
    $(this).oneTime(100, function() {
        $(".indexfooter_hide_show").animate({bottom:0});
    });
}
function indexfooter_hide(){
    $(this).oneTime(1000, function() {
        $(".indexfooter_hide_show").animate({bottom:-55});
    });
}
function footer_stoptime(){
    $(this).stopTime();
}
function footer_time(){
    $(this).oneTime(1000, function() {
        $(".indexfooter_hide_show").animate({bottom:-55});
    });
}
var scrollPos; 
function get_num_scroll(){
        
        if (typeof window.pageYOffset != 'undefined')    //针对Netscape 浏览器
        { 
            scrollPos = window.pageYOffset; 
        } 
        else if (typeof document.compatMode != 'undefined' &&   document.compatMode != 'BackCompat')
        { 
            scrollPos = document.documentElement.scrollTop; 
        } 
        else if (typeof document.body != 'undefined') 
        { 
            scrollPos = document.body.scrollTop; 
        } 
        console.log("scrollPos:"+scrollPos);
        if(scrollPos>150){
            $("#index_footer_top").show();
        }
        else{$("#index_footer_top").hide();}
}
var album_count=0;//个数
var album_times=1;//次数
function index_getJson(){//目录页---发送请求并获取数据
    var list_index=0;
    list_index=window.screen.availHeight;
    list_index=Math.ceil(list_index/273);
    album_count=list_index*4;
    console.log("list_index:"+list_index);
    $.ajax({
        type: 'post',
        url:"/",
        headers: {"X-CSRFToken":csrftoken},
        data: { album_count:album_count,album_times:album_times},
        success:function(msg){
            album_times=msg.album_times;
            console.log("album_times:"+album_times);
            console.log(msg);            //index_tmpl();
            for(var i=0;i<album_count;i++){
                $.tmpl("tmpl_num1",msg.album_obj).appendTo( "#HomeConList_ul" );
                console.log("msg.album"+i+":"+msg.album_obj[i]);
            }
        },
        dataType:'json'
    });
    console.log("首页---发送请求并获取数据");//打印LOG
}
window.onscroll=function(){get_num_scroll();};
$(document).ready(function(){
    $(".indexfooter_hide_show").css({bottom:-55});
    //test();
    $("#index_footer_show").hover(function(){
        indexfooter_show();
    },function(){
        indexfooter_hide();
    });
    $("#index_footer_show").click(function(){
        get_num_scroll();
    });
    get_num_scroll();
    var windows_height=document.body.clientHeight;
    $(window).scroll(function(){
        //滚动条到网页头部的 高度，兼容ie,ff,chrome
        var top = scrollPos; //??????
        //console.log("滚动条到网页头部的高度 :"+scrollPos);
        //网页的高度
        var textheight = $(document).height();
        //console.log("网页的高度 :"+textheight);
        //console.log("当前显示区域的高度："+document.body.clientHeight);
        if (textheight - top  <= windows_height) {
            index_getJson();
            console.log("已经发送请求");
            /*
            $.getJSON( "json.json" ,function(msg){			
                for(var i=0;i<12;i++){
                    $( "#movieTemplate" ).tmpl(msg).prependTo( "#movieList" );//将指定内容在特定位置显示
                }
            }); 
            */
            //test();
        }
        //console.log("-------------------------------------------------------------------------------------------------------");
    });
});
</script>
{% endblock %}
