
#i_con{width:984px; background-color:white; }  
#i_con .i_con_ul{padding:20px 0; overflow:hidden;} 
#i_con .i_con_ul li{float:left; padding:5px; font-family:"微软雅黑"; font-size:13px}
#i_con .i_con_li1{ width:270px; text-align:right;}
#i_con .i_con_li1 i{width:16px; margin-right:5px; color:red;}
#i_con .i_con_li2{ width:654px; margin-left:40px; }
#i_con .i_con_li2_a1,#i_con .i_con_li2 .i_textarea1,#i_con .i_con_li2 p{color:#a7a6ac; font-size:12px;}
#i_con .i_con_li2_a1{width:123px; height:26px; line-height:26px; margin-right:10px; background-position:106px -122px; padding-left:5px;}
#i_con .i_con_li2_a1,#i_con .i_con_li2_a2,#i_con .i_con_li2_a3,#i_con .i_con_li2_a4{display: inline-block;}
#i_con .i_con_li2_a1:hover,#i_con .i_con_li2 input:hover,#i_con .i_con_li2 .i_textarea2:hover,#i_con .i_con_li2 .i_textarea1:hover{border:2px #69bc42 solid;}
#i_con .i_con_li2 .i_textarea1,#i_con .i_con_li2 .i_textarea2{ display:block; margin-top:10px; padding:5px; width:424px;}
#i_con .i_con_li2 .i_textarea1{ height:70px;}
#i_con .i_con_li2 .i_textarea2{ height:150px;}
#i_con .i_con_li2 input,#i_con .i_con_li2 .i_textarea1,#i_con .i_con_li2 .i_textarea2,#i_con .i_con_li2_a1{border-radius:3px; border:2px #aaaaaa solid;}
#i_con .i_con_input1{ width:177px; height:26px; line-height:26px; padding-left:5px;}
#i_con .i_con_li2_a2{ width:150px; height:24px; line-height:24px; border-radius:2px; border:1px #ccc solid; background-color:#f3f3f3; text-align:center; color:#000;}
#i_con .i_con_li2_a2:hover{border:1px #69bc42 solid; background-color:#8dc73f; color:#fff;}
#i_con .i_con_li2 p{ margin:10px 0; font-family:“宋体”;}
#i_con .i_con_li2 .divw654{ width:654px; height:85px;}
#i_con .i_con_li2 .divw6542{width:654px; height:75px;}
#i_con .i_con_li2_img,#i_con .i_con_li2_img2{ display: inline-block; float:left; margin-right:10px; border:1px #afafaf solid;}
#i_con .i_con_li2_img{ width:110px; height:83px;}
#i_con .i_con_li2_img2{ width:118px; height:73px; border-radius:3px;}
#i_con .i_con_li2_a3div{ height:24px;}
#i_con .i_con_li2_a3{width:112px; height:24px; line-height:24px;}
#i_con .i_con_li2_a4{width:118px; height:24px; line-height:24px;}
#i_con .i_con_li2_a3div a{ text-align:center; margin-right:10px; font-size:12px;font-family:"宋体"}
#i_con .i_con_li2_a3div a:hover{ text-decoration:underline; color:#f60;}
#i_con .i_con_li2_btn{display: inline-block; border:1px #bc4c01 solid; border-radius: 2px; color:white; font-weight:bold; background-color:#f60; text-align:center;width:124px; height:30px; line-height:30px; font-size:15px;font-family:"微软雅黑"}
#i_con .i_con_li2_btn:hover{ border:1px #d16a0e solid; background-color:#ff8500;}
/*body*/
#change_id{
	width:100%;
	min-height:450px;
}