{% extends "base.jade" %}
{% block title %}上传作品{% endblock %}
{% block headright %}
{% endblock %}
{% block content %}
script#movieTemplate(type="text/x-jquery-tmpl")
    form(style="margin-top:0px;width:984px;overflow:hidden;",class="file-upload",action="${action}",method="POST",enctype="multipart/form-data")
        div(style="float:left;height:80px;width:108px;line-height:80px;text-align:center;position:relative; border:1px #FFF solid;background-color:#FFF;")
            font(style="font-size:60px") 1
        div(style="float:left;height:285px;line-height:80px;width:268px;margin-left:30px;text-align:center; position:relative; border:1px #FFF solid; background-color:#FFF;")
            div(style="height:200px;width:230px;margin:30px auto;")
                img(src="/statics/img/upload_bg.GIF")
                button.btn.btn-mini(style="float:right") 删除
        div(style="float:left;height:285px;width:572px;  position:relative; border:1px #FFF solid; background-color:#FFF;")
            label.control-label(style="padding-top:30px;padding-left:20px")
                font(style="font-size:15px",color="red") &lowast;&nbsp;
                font(style="font-size:15px") 作品名称：
                input.success(type="text",style="border-color:#444242 ")
            label.control-label(style="padding-top:20px;padding-left:20px")
                font(style="font-size:15px",color="red") &lowast;&nbsp;
                font(style="font-size:15px") 作品描述：&nbsp;
                textarea(name="message", style="width:420px;height:150px;border-color:#444242")
div#uploadpage(style="font-size:15px;width:984px")
    form(action!="{%url django.contrib.auth.views.login%}",method="post"){% csrf_token %}
        fieldset.control-group.success
            div(style="width:984px")
                div.controls#uploadpage_headdiv
                    strong 上传作品
                div.controls#uploadpage_bodydiv_left
                    label.control-label(style="padding-top:15px")
                        font(style="font-size:15px",color="red") &lowast;&nbsp;
                        font(style="font-size:15px") 系列名称：
                        input.success(type="text",style="border-color:#444242")
                        br
                        font(style="font-size:13px;color:#ababab;margin-left:95px")只能使用汉字，字母，阿拉伯数字，“-”“_”符号。
                    label.control-label(style="margin-top:5px")
                        font(style="font-size:15px",color="red") &lowast;&nbsp;
                        font(style="font-size:15px") 作品类别：
                        input.success(type="text",style="border-color:#444242")
                    label.control-label(style="margin-top:20px")
                        font(style="font-size:15px",color="red") &lowast;&nbsp;
                        font(style="font-size:15px") 创作时间：
                        select(style="width:100px;height:30px;border-color:#444242")
                            option 年
                            option 1
                        select(style="width:40px;height:30px;border-color:#444242")
                            option 月
                            option 1
                        select(style="width:40px;height:30px;border-color:#444242")
                            option 日
                            option 1
                div.controls#uploadpage_bodydiv_right
                    label.control-label(style="padding-top:15px")
                        font(style="font-size:15px",color="red") &lowast;&nbsp;
                        font(style="font-size:15px") 系列作品描述：
                        textarea(name="message", style="width:420px;height:150px;background:#f7f7f7;border-color:#444242")
            input(id="album-upload",type="file",name="album_files",multiple)
            div#progress
                div.bar(style="width: 0%;")
            table.table.table-striped(role="presentation")
                tbody.files#upload-table(data-toggle="modal-gallery",data-target="#modal-gallery")
            div.control-group.success#movieList(style="width:984px;margin-top:0px")
{% endblock %}