{% extends "base.html" %}
{% block title %}物品详情页{% endblock %}
{% block content %}
<div id="detail_content_div">
	<div id="detail_content_left">
		<div id="detail_content_left_top">
			<ul class="ulmarginw25">
				<li class="h30">
					<h3>青藏高原</h3>
				</li>
				<li class="h24"><span>类别：</span><em>摄影</em><span>品牌：</span><em>金色闪光</em><span>作者</span><em>姚远</em></li>
			</ul>
			<hr class="bottom_line"/>
			<ul class="ulmarginw25">
				<li class="h410"><img src="/statics/img/cp.jpg" width="510" height="410"/></li>
				<li class="hauto1">
					<p>所有复制品均有6cans统一扫描、制定、装订。所有纸张均为康颂纸，画框均为____材质，6cans为您保证质量。</p>
				</li>
			</ul>
		</div>
		<div id="detail_content_left_bottom">
			<div class="dclb"><span>系列《<strong>走进西藏的春与秋</strong>》中的其它作品</span>
				<div class="detail_left_content_w510"><a target="_self" class="detail_slide_right"></a><a target="_self" class="detail_slide_left"></a>
					<div class="detail_left_content_w470"><a><img src="/statics/IMG/xq_cps1.jpg" width="110" height="83"/></a><a><img src="/statics/IMG/xq_cps1.jpg" width="110" height="83"/></a><a><img src="/statics/IMG/xq_cps1.jpg" width="110" height="83"/></a><a><img src="/statics/IMG/xq_cps1.jpg" width="110" height="83"/></a></div>
				</div>
			</div>
		</div>
	</div>
	<div id="detail_content_right">
		<div id="detail_content_right_top">
			<ul class="ulmarginw25">
				<li class="h30">
					<h3>数码微喷</h3>
				</li>
				<li class="h24"><span>数码摄影、数码插画为复制品</span></li>
			</ul>
			<hr class="bottom_line"/>
			<dl class="ulmarginw25">
				<dt class="lifontsize">请选择尺寸：</dt>
				<dd class="lifontsize_dd">
					<input name="" type="radio" value=""/>
					<em>20  X  30CM</em><strong><i class="ibg1"></i><em>100 .00</em></strong></dd>
				<dd class="lifontsize_dd">
					<input name="" type="radio" value=""/>
					<em>20  X  30CM</em><strong><i class="ibg1"></i><em>100 .00</em></strong></dd>
				<dd class="lifontsize_dd">
					<input name="" type="radio" value=""/>
					<em>20  X  30CM</em><strong><i class="ibg1"></i><em>100 .00</em></strong></dd>
				<dd class="lifontsize_dd">
					<input name="" type="radio" value=""/>
					<em>20  X  30CM</em><strong><i class="ibg1"></i><em>100 .00</em></strong></dd>
				<dd class="lifontsize_dd">
					<input name="" type="radio" value=""/>
					<em>20  X  30CM</em><strong><i class="ibg1"></i><em>100 .00</em></strong></dd>
			</dl>
			<hr class="bottom_line"/>
			<dl class="ulmarginw25">
				<dt class="lifontsize">请选择画框</dt>
				<dd class="ddh112">
					<li class="liw20">
						<input type="radio" name="subProduct"/>
					</li>
					<li><img src="/statics/IMG/GT_detail_none20120913.jpg" alt="" width="83" height="82"/>
						<p>+0RMB</p>
					</li>
					<li class="liw20">
						<input type="radio" name="subProduct"/>
					</li>
					<li><img src="/statics/IMG/GT_detail_black20120913.jpg" alt="" width="83" height="82"/>
						<p>+100RMB</p>
					</li>
					<li class="liw20">
						<input type="radio" name="subProduct"/>
					</li>
					<li><img src="/statics/IMG/GT_detail_white20120913.jpg" alt="" width="83" height="82"/>
						<p>+100RMB</p>
					</li>
				</dd>
			</dl>
			<hr class="bottom_line"/>
			<dl class="ulmarginw25">
				<dt class="ifontsize">请填写购买的数量:</dt>
				<dd class="ddnumber"><a class="ddnumbera1"></a>
					<input name="" type="text" value="1" maxlength="5" class="ddinputw60h21"/>
					<a class="ddnumbera2"></a><span>件,(仅 5 件)</span></dd>
			</dl>
			<hr class="bottom_line"/>
			<dl class="ulmarginw25">
				<dt class="lifontsize">物流快递:(顺丰快递)</dt>
				<dd class="dt_ddlogistics"><span>
					<div class="tb-postAgeCont">至   北京</div>
					</span><span>快递费用：<b>3</b><em>元(人民币)/千克</em></span></dd>
			</dl>
		</div>
		<div id="detail_content_right_bottom">
			<div class="de_right_btleft">
				<p>重量：<b>5</b><em>kg</em></p>
				<p>总价：<b>1233 .00</b><em>RMB</em></p>
			</div>
			<div class="de_right_btright"><a class="btright_btn">加入购物车</a></div>
		</div>
	</div>
</div>
{% endblock %}