{% extends "base.jade" %}
{% block title %}我的购物车{% endblock %}
{% block content %}
div#cart_div
    div#cart_tit
        div.cart_tit_left
            h3 我的购物车
        div.cart_tit_right
            ul.num5
                li.current
                    span.first 1. 查看购物车
                li
                    span 2. 填写订单信息
                li
                    span 3. 确认订单信息
                li.last
                    span 4. 订单提交完成
    div#cart_content
        div.div_marginw25px
            div.cart_content_tit
                总计（含运费：
                b
                    i.ibg2
                    i 1200 .00
                a.cart_checkout_btn1 结算
            table(width="100%",border="0",cellspacing="0",cellpadding="0")
                tr.cart_content_nav
                    td.cart_w25
                        input(name="",type="checkbox",value="")
                    td.cart_w50 全选
                    td.cart_w117 &nbsp;
                    td.cart_w140 作品名称
                    td.cart_w70 类别
                    td.cart_w80 框架
                    td.cart_w142 数量
                    td.cart_w105 单价
                    td.cart_w145 小计
                    td.cart_w60 &nbsp;
                tr
                    td(colspan="10")
                        div#mycart_list.content_div_marginw25px
                tr.cart_content_nav
                    td.cart_w25
                        input(name="",type="checkbox",value="")
                    td.cart_w50 全选
                    td.cart_w117
                        a.cart_w117_a 批量删除
                    td.cart_w742(colspan="7")
                        div.cart_w742_div 总计（含运费）：
                            b
                                i.ibg2
                                i 1200 .00
        div.cart_content_tit
            a.cart_checkout_btn2 结&nbsp;&nbsp;&nbsp;&nbsp;算
{% endblock %}