<!DOCTYPE html public "-//w3c//dtd html 4.01 transitional//en" "http://www.w3.org/tr/html4/loose.dtd">
    <html>
        <head>
            <meta http-equiv="Content-Type" name="viewport" content="width=device-width,initial-scale=1.0"/>
            <title>{% block title %}{% endblock %}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
            <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
            <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.css"/>
            <link rel="stylesheet" type="text/css" href="/statics/css/imgareaselect-default.css" />
            <link rel="stylesheet" type="text/css" href="/statics/css/GT_css.css"/>
            <link rel="stylesheet" type="text/css" href="/statics/css/GT_Transaction.css"/>
            <link rel="stylesheet" type="text/css" href="/statics/css/6Cans.css"/>
            <link rel="stylesheet" type="text/css" href="/statics/css/mycans_css.css"/>

            
            <script type="text/javascript" src="/statics/js/jquery-1.8.2.min.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/jquery.imgareaselect.pack.js"></script>
            <script type="text/javascript" src="/statics/js/jquery.masonry.min.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/jquery.infinitescroll.min.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/bootstrap.js" charset="UTF-8"></script>
            <!--script type="text/javascript" src="/statics/js/fileuploader.js" charset="UTF-8"></script-->
            <script type="text/javascript" src="/statics/js/jquery.tmpl.min.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/jquery.imgareaselect.pack.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/formValidator_min.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/formValidatorRegex.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/vendor/jquery.ui.widget.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/jquery.iframe-transport.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/jquery.fileupload.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/statics/js/6cans.js" charset="UTF-8"></script>
            {% block head %}{% endblock %}
        </head>
        <body style="width:100%;min-height:450px;">
            <div id="head" style="overflow:hidden">
                <div id="logo" style="width:100%">
                    <a id="navigation_logo" href="/" style="margin-left:25px"></a>
                    <div id="navigation_negative_filmhover">
                        <div id="navigation_negative_film">
                            <a id="navigation_film" href="#"></a>
                        </div>
                    </div>
                    <div id="navigation_negative_filmhover">
                        <div id="navigation_negative_ikon">
                            <a id="navigation_ikon" href="#"></a>
                        </div>
                    </div>
                    <div id="navigation_negative_filmhover">
                        <div id="navigation_negative_drawing">
                            <a id="navigation_drawing" href="#"></a>
                        </div>
                    </div>
                    <div style="float:right">
                        {% if user.is_authenticated %}
                            <button id="logo_logoutbutton" type="submit" class="button_wane btn btn-success">登出</button>
                        {% else %}
                            <button id="logo_registbutton" type="submit" class="button_wane btn btn-success">创建帐户</button>
                            <button id="logo_loginbutton" type="submit" class="button_wane btn btn-success">登录</button>
                        {% endif %}
                    </div>
                    <div style="float:right">
                        <a id="navigation_shoppingcart" href="#" style="background-position:37.5% 32%"></a>
                        <a id="navigation_shoppingcart_num" href="#" style="background-position:48% 30%"></a>
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div id="foot" class="navbar navbar-fixed-bottom">
                <div style="float:left">
                    <font size="12pt"></font>
                    @1997-2012易拉互动网络科技有限公司版权所有 京ICP备20030133号
                </div>
                <div style="float:right;width:340px">
                    <a href="#">关于罐头工厂&nbsp;</a>|
                    <a href="#">联系我们&nbsp;</a>|
                    <a href="#">招贤纳士&nbsp;</a>|
                    <a href="#">移动客户端&nbsp;</a>|
                    <a href="#">官方微博</a>
                </div>
            </div>
        </body>
    </html>
