!!!html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"
html
    head
        meta(http-equiv="Content-Type",name="viewport", content="width=device-width,initial-scale=1.0")
        meta(http-equiv="Content-Type",content="text/html; charset="utf-8")
        title {% block title %}{% endblock %}
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        link(rel="stylesheet",type="text/css",href="/statics/css/bootstrap.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/GT_css.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/GT_min.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/GT_trade.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/imgareaselect-default.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/GT_Transaction.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/6Cans.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/mycans_css.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/jquery.fileupload-ui.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/jquery-ui-1.9.1.css")
        link(rel="stylesheet",type="text/css",href="/statics/css/bootstrap-image-gallery.min.css")
        script(type="text/javascript",src="/statics/js/jquery-1.8.2.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery-ui-1.9.1.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery.tmpl.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/vendor/jquery.ui.widget.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/tmpl.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/load-image.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/canvas-to-blob.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/bootstrap.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/bootstrap-image-gallery.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/formValidator_min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/formValidatorRegex.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/GT_layer.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/GT_Trading.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery.fileupload.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery.fileupload-fp.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery.fileupload-ui.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery.iframe-transport.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery.imgareaselect.pack.js")
        script(type="text/javascript",src="/statics/js/jquery.infinitescroll.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/jquery.masonry.min.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/6cans.js",charset="UTF-8")
        script(type="text/javascript",src="/statics/js/main.js",charset="UTF-8")
        {% block link %}{% endblock %}
        script
            var is_authenticated = false
                {% if user.is_authenticated %}
                    var is_authenticated = true
                {% endif %} 
            function personalpage(){
                console.log("即将打开个人主页！");
                $.ajax({
                    type: 'post',
                    url:"/",
                    headers: {"X-CSRFToken":csrftoken},
                    data: { redict_personal_index:1 },
                    success:function(msg){
                        var hrefa="/content/personal/"+msg.persona_id;
                        console.log("hrefa:"+hrefa);
                        window.location.href=hrefa;
                    },
                    dataType:'json'
                });
            }
        {% block head %}{% endblock %}
    //分割线
    body#change_id(style="width:100%;min-height:450px;",onkeydown="keyDown()")
        #header
            .headerCon
                ul
                    a(href="/")
                        li.logo1
                    li#nav
                        a(href="/")  
                            div              
                                span 首页
                        {% if user.is_authenticated %}
                        a(onclick="personalpage()")
                            div
                                span 个人主页
                        {% else %}
                        a(data-toggle="modal", href="#myModal",type="submit")
                            div
                                span 个人主页
                        {% endif %} 
                    li.headeright
                        a
                            div.login_register
                                span.headerightaspan1 6
                                span.headerightaspan2
                        {% if user.is_authenticated %}
                        ul
                            li.dropdown
                                a.dropdown-toggle(data-toggle="dropdown",href="#")
                                    div.login_register
                                        span 用户名
                                ul.dropdown-menu(style="height:130px;")
                                    li(style="float:none;")
                                        a(href="#")账户设置
                                    li(style="float:none;")
                                        a(href="#")关联账号
                                    li(style="float:none;")
                                        a(href="#")我的订单
                                    li(style="float:none;")
                                        a(href="#")邀请好友
                                    li(style="float:none;")
                                        a#logo_logoutbutton(type="submit")登出
                        {% else %}
                        a#logo_registbutton(type="submit")
                            div.login_register
                                span 注册
                        div#myModal.login_modal.hide.fade(style="display: none; ")
                            div.login_modal-body
                                div.login
                                    div.login_tit
                                        a.login_off(data-dismiss="modal",href="#")×
                                    form(action="/accounts/login/",method="post")
                                        div(style="display:none")
                                        div
                                            ul.login_con
                                                li
                                                    span#id_usernameTip.onShow.login_s1
                                                    h3.login_h3 User Name * 用户名
                                                li
                                                    input#id_username.login_input(type="text",name="username")
                                                li
                                                    span#id_passwordTip.onShow.login_s2
                                                    h3.login_h3 Password *  密码
                                                li
                                                    input#id_password.login_input1(type="text",name="password")
                                        div.login_footer
                                            span.login_sp1
                                                button#fat-btn.login_btn.btn-primary(type="submit",data-loading-text="Logining...")登 录
                                            a.login_a(onclick="creater_add()") 立即注册
                                            a.login_a(href="/accounts/password/reset/") 忘记密码
                                    div
                                        ul.login_ad
                                            li
                                                a#sina_auth.login_ad_a1
                                                    span 新浪微博
                                            li
                                                a#qq_auth.login_ad_a2
                                                    span 腾讯微博
                                            li
                                                a#renren_auth.login_ad_a3
                                                    span 人人网
                                            li
                                                a#douban_auth.login_ad_a4
                                                    span 豆瓣网
                        a(data-toggle="modal", href="#myModal",type="submit")
                            div.login_register
                                span 登录
                        {% endif %}
        {% block content %}{% endblock %}
        //底部标签
        #footer.indexfooter_hide_show(onmouseover="footer_stoptime()",onmouseout="footer_time()")
            .footerCon
                ul
                    li.logo2
                    li.footerLinks
                        .footerDiva1
                            a(onclick="creater_add()") 创作者加入
                            a 品牌商参与
                            a 关于罐头工场
                            a 招聘
                            a 帮助&amp;常见问题
                            a 联系我们
                            a 客户服务
                        .footerDiva2
                            ul
                                li
                                    em ©
                                    em 2012 罐头工场
                                li
                                    a 远程创作与跨界协作平台
                                li
                                    a 隐私权政策
                                li 
                                    a 使用条款
                                li
                                    a 版权说明
                                li 京
                                    a 128713
                                    号