{% extends "base.jade" %}
{% block content %}
div#wrap(style="height:86%")
    div#content
        div#content_div_span4
            div#content_div_margin
                div.rightside_text
                    b 使用关联帐号登录
                div.rightside_ico
                    a#sina_auth
                        img(id='sina_auth',src="/statics/img/ico2.gif",alt="6Cans_新浪")
                    a#douban_auth
                        img(id='douban_auth',src="/statics/img/ico3.gif",alt="6Cans_豆瓣")
                    a#renren_auth
                        img(id='renren_auth',src="/statics/img/ico4.gif",alt="6Cans_人人")
                    a#qq_auth
                        img(id='qq_auth',src="/statics/img/ico5.gif",alt="6Cans_QQ")
        {% block index %}{% endblock %}
{% endblock %}