{% extends "base.jade" %}
{% block title %}个人信息{% endblock %}
{% block headright %}
{% endblock %}
{% block content %}
div#div_span9
    form(action=".",method="post") {% csrf_token %}
        fieldset.control-group.success
            {% block content_works %}{% endblock %}
            div
                div.controls
                    label.control-label
                        font(size="4px")用户昵称
                        {{ form.nickname }}
                        {% if form.nickname.errors %}
                        p.errmsg#err_msg {{ form.nickname.errors|join:", " }}
                        {% else %}
                        p#err_msg &nbsp;
                        {% endif %}
            div
                div.controls
                    label.control-label
                        font(size="4px",style="margin-left:35px") 头像
                        div#file-uploader
            div
                div.controls
                    label.control-label(style="margin-left:105px")
                        font(color="#ccc")仅支持jpg , png格式的图片，且小于5M
            div
                div.controls
                    label.control-label(style="margin-left:105px")
                        img#user-head(src="/statics/img/picture_load.gif")
            div
                div.controls
                    label.control-label
                        font(size="4px",style="margin-left:35px") 性别
                        {{ form.gender }}
                        {% if form.gender.errors %}
                        p.errmsg#err_msg {{ form.gender.errors|join:", " }}
                        {% else %}
                        p#err_msg &nbsp;
                        {% endif %}
            div
                div.controls
                    label.control-label
                        font(size="4px",style="margin-left:15px")所在地
                        {{ form.province }}
                        {% if form.province.errors %}
                        p.errmsg#err_msg {{ form.province.errors|join:", " }}
                        {% else %}
                        p#err_msg &nbsp;
                        {% endif %}
                        select(name="city",id="id_city",style="margin-left:30px;width:125px;height:35px;background:#f7f7f7;border-width:3px")
                            option 市/区
            div
                div.controls
                    p
                        {{ form.introduction }}
                        {% if form.introduction.errors %}
                        p.errmsg#err_msg {{ form.introduction.errors|join:", " }}
                        {% else %}
                        p#err_msg &nbsp;
                        {% endif %}
            div
                div.controls
                    button.btn.btn-success(type="submit",style="background:#7cbe31;margin-left:100px",href !="#")
                        strong &nbsp;&nbsp;完&nbsp;&nbsp;&nbsp;成&nbsp;&nbsp;
{% endblock %}