{% extends "base.html" %}
{% block title %}个人信息{% endblock %}
{% block headright %}
{% endblock %}
{% block link %}
<script type="text/javascript" src="/statics/js/personal_works_details_base.js"charset="UTF-8"></script>
{% endblock %}
{% block head %}
<style type="text/css">
.bar {height:18px;  background:green;}
.B_i_con_li2{min-height: 33px;}
.B_i_con_li2 ul li{margin-top: 0px;}
</style>
{% endblock %}
{% block content %}
<div id="mycans"> {% block baseInfoSet %}{% endblock %}
	<div id="mycans_right">
		<div class="mycans_div">
			<div class="mycans_tit">
				<h3>基本信息</h3>
			</div>
			<div id="B_i_con">
				<form action="" method="post" id="submit_form">
					{% csrf_token %}
					<ul style="padding-top:20px;padding-bottom:30px;overflow:hidden">
						{% block content_works %}{% endblock %}
						<li class="B_i_con_li1">名号：</li>
						<li class="B_i_con_li2"> {{ form.nickname }}
							{% if form.nickname.errors %}
							<p id="err_msg" class="errmsg">{{ form.nickname.errors|join:", " }}</p>
							{% else %} <span id="id_nicknameTip" class="onShow">xlk</span> {% endif %} </li>
						<li class="B_i_con_li1">头像：</li>
						<li class="B_i_con_li2">
							<input id="head-upload" type="file" name="head_file" data-url="{{ upload_url }}" multiple="multiple"/>
							<div id="progress">
								<div class="bar" style="width: 0%;"></div>
							</div>
							<font color="#ccc">仅支持jpg , png格式的图片，且小于5M</font>
							<div >
								<label style="width:300px;height:300px;overflow:hidden;"> <img id="user-head" src="/statics/img/picture_load.gif" style="float:left ;width:300px;height:300px;"/> </label>
							</div>
						</li>
						<li class="B_i_con_li1">性别：</li>
						<li class="B_i_con_li2"> {{ form.gender }}
							{% if form.gender.errors %}
							<p id="err_msg" class="errmsg">{{ form.gender.errors|join:", " }}</p>
							{% endif %} </li>
						<li class="B_i_con_li1" style="display:none"></li>
						<li class="B_i_con_li2" style="display:none">
							<input type="hidden" name="x1" value="" />
							<input type="hidden" name="y1" value="" />
							<input type="hidden" name="x2" value="" />
							<input type="hidden" name="y2" value="" />
							<input type="hidden" name="img_url" value="">
						</li>
						<li class="B_i_con_li1">所在地：</li>
						<li class="B_i_con_li2"> {{ form.province }}
							<select name="city" id="id_city">
								<option>--</option>
							</select>
							{% if form.province.errors %}
							<p id="err_msg" class="errmsg">{{ form.province.errors|join:", " }}</p>
							{% endif %} </li>
						<li class="B_i_con_li1">个人简介：</li>
						<li class="B_i_con_li2"> {{ form.introduction }}
							{% if form.introduction.errors %}
							<p id="err_msg" class="errmsg">{{ form.introduction.errors|join:", " }}</p>
							{% else %} <span id="id_introductionTip" class="onShow"></span> {% endif %} </li>
						<li class="B_i_con_li1"></li>
						<li class="B_i_con_li2">
							<button type="submit" value="确定" class="B_i_con_btn"> <strong>&nbsp;&nbsp;完&nbsp;&nbsp;&nbsp;成&nbsp;&nbsp;</strong> </button>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}