{% extends "identity/personal_works_details_base.html" %}
{% block title %}作品简介{% endblock %}
{% block headright %}
{% endblock %}
{% block content_works %}
<li class="B_i_con_li1"><font size="4px" color="red">&lowast;</font>品牌昵称：</li>
<li class="B_i_con_li2">
    {{ formdesign.name }}
</li>
<li class="B_i_con_li1"><font size="4px" color="red">&lowast;</font>品牌介绍：</li>
<li class="B_i_con_li2">
    {{ formdesign.introduction }}
</li>
<li class="B_i_con_li1"><font size="4px" color="red">&lowast;</font>品牌类别：</li>
<li class="B_i_con_li2">
    <input name = "photography" type="checkbox" style="margin-left:0px"/><span>摄影</span>
    <input name="illustration" type="checkbox" style="margin-left:0px"/><span>插画</span>
	<input name="painting" type="checkbox" style="margin-left:0px"/><span>绘画</span>
</li>
{% endblock %}