{% extends "identity/personal_works_details_base.html" %}
{% block title %}作品简介{% endblock %}
{% block headright %}
{% endblock %}
{% block content_works %}
<div class="controls">
	<label style="margin-left:-20px" class="control-label">
		<font size="4px" color="red">&lowast;&nbsp;</font>
		<font size="4px">品牌昵称</font>{{ formdesign.name }}
	</label>
</div>
<div class="controls">
	<label style="margin-left:-20px" class="control-label">
		<font size="4px" color="red">&lowast;&nbsp;</font>
		<font size="4px">品牌介绍</font>{{ formdesign.introduction }}

	</label>
</div>
<div class="controls">
	<label style="margin-left:-20px" class="control-label">
		<font size="4px" color="red">&lowast;&nbsp;</font>
		<font size="4px">品牌类别</font>
		<input name = "photography" type="checkbox" style="margin-left:30px"/>
		<font size="4px" style="margin-left:10px">摄影</font>
		<input name="illustration" type="checkbox" style="margin-left:30px"/><font size="4px" style="margin-left:10px">插画</font>
		<input name="painting" type="checkbox" style="margin-left:30px"/><font size="4px" style="margin-left:10px">绘画</font>
	</label>
</div>
{% endblock %}