{% extends "identity/personal_works_details_base.html" %}
{% block title %}作品简介{% endblock %}
{% block headright %}
{% endblock %}
{% block content_works %}
<div class="controls">
	<label style="margin-left:-20px" class="control-label">
		<font size="4px" color="red">&lowast;&nbsp;</font>
		<font size="4px">品牌昵称</font>
		<input id="div_span9_input" type="text" class="success"/>
	</label>
</div>
<div class="controls">
	<label style="margin-left:-20px" class="control-label">
		<font size="4px" color="red">&lowast;&nbsp;</font>
		<font size="4px">品牌介绍</font>
		<textarea name="message" style="width:470px;height:175px;margin-left:35px;background:#f7f7f7;border-width:3px"></textarea>
	</label>
</div>
<div class="controls">
	<label style="margin-left:-20px" class="control-label">
		<font size="4px" color="red">&lowast;&nbsp;</font>
		<font size="4px">品牌类别</font>
		<input type="checkbox" style="margin-left:30px"/>
		<font size="4px" style="margin-left:10px">摄影</font>
		<input type="checkbox" style="margin-left:30px"/><font size="4px" style="margin-left:10px">插画</font>
		<input type="checkbox" style="margin-left:30px"/><font size="4px" style="margin-left:10px">绘画</font>
	</label>
</div>
{% endblock %}