{% extends "base.html" %}
{% block title %}帐号管理-收货地址{% endblock %}
{% block content %}
<div id="mycans">
	<div id="mycans_left">
		<dl class="mycans_dl1">
			<dt><i></i><a>账号设置</a></dt>
			<dd><a>基本信息</a></dd>
			<dd class="D_a_dd"><a>收货地址</a></dd>
		</dl>
		<dl class="mycans_dl2">
			<dt><a>关联账号</a></dt>
		</dl>
		<dl class="mycans_dl3">
			<dt><a>我的订单</a></dt>
		</dl>
		<dl class="mycans_dl4">
			<dt><a>邀请好友</a></dt>
		</dl>
	</div>
	<div id="mycans_right">
		<div class="mycans_div">
			<div class="mycans_tit">
				<h3>收货地址</h3>
			</div>
			<div id="D_a_con">
				<ul class="D_a_con_top">
					<li class="D_a_red"><span class="tip">寄送至</span><a class="delete">删除</a><a class="delete">编辑</a>
						<label class="label1">北京市 朝阳区 西大望路1号SOHO现代城A座562号  (遥远 收)</label>
						<em class="em1">12345678901</em><a class="dft">默认地址</a></li>
					<li class="D_a_red1"><a class="delete">删除</a><a class="delete">编辑</a>
						<label class="label2">北京市 朝阳区 西大望路1号SOHO现代城A座562号  (遥远 收)</label>
						<em class="em1">12345678901</em><a class="dft1">设为默认地址</a></li>
				</ul>
				<div class="D_a_con_sbt"><a class="sbt_newsbtn">
					<h3>新增地址</h3>
					</a>
					<div class="sbt_listdiv">
						<ul class="sbt_listul">
							<li class="sbt_listli1">
								<h4>设置新的收货地址</h4>
							</li>
							<li class="sbt_listliL"><strong>省：</strong></li>
							<li class="sbt_listliR"><a class="listliR_a1">省/直辖市/自治区</a><span class="listliR_span1"><strong>市：</strong></span><a class="listliR_a1">地区/市</a><span class="listliR_span2"><strong>邮政编码：</strong></span>
								<input name="" type="text" class="listliR_input1"/>
							</li>
							<li class="sbt_listliL"><strong>县/区/街道：</strong></li>
							<li class="sbt_listliR">
								<textarea name="" cols="" rows="" class="listliR_textarea1"></textarea>
							</li>
							<li class="sbt_listliL"><strong>收货人姓名：</strong></li>
							<li class="sbt_listliR">
								<input name="" type="text" class="listliR_input2"/>
							</li>
							<li class="sbt_listliL"><strong>手机号：</strong></li>
							<li class="sbt_listliR">
								<input name="" type="text" class="listliR_input2"/>
							</li>
							<li class="sbt_listliL"><strong>设置默认：</strong></li>
							<li class="sbt_listliR">
								<input name="" type="checkbox" value="" class="listliR_input3"/>
							</li>
							<li class="sbt_listliL"></li>
							<li class="sbt_listliR"><a class="sbt_newsbtn1">
								<h3>确认</h3>
								</a><a class="sbt_newsbtn1">
								<h3>取消</h3>
								</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}