{% extends "base.jade" %}
{% block title %}帐号管理-收货地址{% endblock %}
{% block content %}
script
    function choose_address(obj){
        //获取改变前的默认地址的相关内容(固定的)
        var li_name_ed=document.getElementsByName("chooseed_address");
        var span_name_ed=document.getElementsByName("chooseed_address_span");
        var a_name_ed=document.getElementsByName("chooseed_address_a");
        //获取需要设置为默认地址的内容（根据点击的内容的name改变）
        var objname=obj.name;
        var li_name=document.getElementsByName(objname+"_li");
        var span_name=document.getElementById(objname+"_span");
        var a_name=document.getElementsByName(objname);

        console.log(li_name);
        console.log(span_name);
        console.log(a_name);
        $(li_name).css({backgroundColor:"#F0EDEC"},{color:"#5D5D5D"},{border:3});
        span_name.innerHTML="寄送至";
        $(a_name).empty();
    }
div#mycans(style="margin:0 auto")
    div#mycans_left
        dl.mycans_dl1
            dt
                i
                a(href="/account_settings/base_info_set/") 账号设置
            dd
                a(href="/account_settings/base_info_set/") 基本信息
            dd.D_a_dd
                a(href="/account_settings/deliver_address/") 收货地址
        dl.mycans_dl2
            dt
                a(href="/account_settings/related_set/") 关联账号
        dl.mycans_dl3
            dt
                a(href="/account_settings/my_order/") 我的订单
        dl.mycans_dl4
            dt
                a(href="/account_settings/invite_friends/") 邀请好友
    div#mycans_right
        div.mycans_div
            div.mycans_tit
                h3 收货地址
            div#D_a_con
                ul.D_a_con_top
                    li.D_a_red(name="chooseed_address")
                        span.tip(name="chooseed_address_span") 寄送至
                        a.delete 删除
                        a.delete 编辑
                        label.label1 北京市 朝阳区 西大望路1号SOHO现代城A座562号  (遥远 收)
                        em.em1 12345678901
                        span(name="chooseed_address_a")
                            a.dft 默认地址
                    li.D_a_red1(name="choose_address_li")
                        span#choose_address_span.tip(name="choose_address_span") 更改此处
                        a.delete 删除
                        a.delete 编辑
                        label.label2 北京市 朝阳区 西大望路1号SOHO现代城A座562号  (遥远 收)
                        em.em1 12345678901
                        span
                            a.dft1(onclick="choose_address(this)",name="choose_address") 设为默认地址
                div.D_a_con_sbt
                    a.sbt_newsbtn
                        h3 新增地址
                    div.sbt_listdiv
                        ul.sbt_listul
                            li.sbt_listli1
                                h4 设置新的收货地址
                            li.sbt_listliL
                                strong 省：
                            li.sbt_listliR
                                a.listliR_a1 省/直辖市/自治区
                                span.listliR_span1
                                    strong 市：
                                a.listliR_a1 地区/市
                                span.listliR_span2
                                    strong 邮政编码：
                                input.listliR_input1(name="", type="text")
                            li.sbt_listliL
                                strong 县/区/街道：
                            li.sbt_listliR
                                textarea.listliR_textarea1( name="", cols="", rows="")
                            li.sbt_listliL
                                strong 收货人姓名：
                            li.sbt_listliR
                                input.listliR_input2(name="", type="text")
                            li.sbt_listliL
                                strong 手机号：
                            li.sbt_listliR
                                input.listliR_input2(name="", type="text")
                            li.sbt_listliL
                                strong 设置默认：
                            li.sbt_listliR
                                input.listliR_input3(name="" ,type="checkbox",value="")
                            li.sbt_listliL
                            li.sbt_listliR
                                a.sbt_newsbtn1
                                    h3 确认
                                a.sbt_newsbtn1
                                    h3 取消
{% endblock %}