{% extends "base.jade" %}
{% block title %}关联帐号{% endblock %}
{% block content %}
div#mycans
    div#mycans_left
        dl.mycans_dl1
            dt
                i
                a 账号设置
            dd
                a 基本信息
            dd
                a 收货地址
        dl.mycans_dl2
            dt.R_s_dt
                a 关联账号
        dl.mycans_dl3
            dt
                a 我的订单
        dl.mycans_dl4
            dt
                a 邀请好友
    div#mycans_right
        div.mycans_div
            div.mycans_tit
                h3 关联帐号
            div#R_s_con
                ul
                    li
                        p.sina1
                        span.ca_span1 未连接
                        a.ca_a1 授权关联
                    li
                        p.qq2
                        span.ca_span1 未连接
                        a.ca_a2 取消关联
                    li
                        p.renren1
                        span.ca_span1 未连接
                        a.ca_a1 授权关联
                    li
                        p.douban1
                        span.ca_span1 未连接
                        a.ca_a1 授权关联
{% endblock %}